---

---

<footer>
    <a href="https://github.com/ubzrst" target="_blank">github</a>
    <a href="/resume.pdf" target="_blank">resume</a>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 16px;
        padding: 8px 10px;
        background-color: var(--surface);
        width: 100%;
    }

    html[data-theme="light"] footer {
        border: 1px solid var(--border);
    }
</style>
